<div class="container">
  <div class="row mb-1">
    <div class="col-2">{{inPerson.id}}
    </div>
    <div class="col-3">{{inPerson.firstname}}
    </div>
    <div class="col-3">{{inPerson.lastname}}
    </div>
    <div class="col-2">{{inPerson.phone}}
    </div>
    <div class="col-2">
      <div class="btn-group m-1">
        <button class="btn btn-success" (click)="editSwitch()">Редактировать</button>
        <button class="btn btn-danger" (click)="onDeletePerson()">Удалить</button>
      </div>
    </div>
    <form [formGroup]="editForm">
      <div class="row mb-1" *ngIf="edit">
        <div class="col-3">
          <input type="text" formControlName="firstname" class="form-control" placeholder="Имя">
        </div>
        <div class="col-3">

          <input type="text" formControlName="lastname" class="form-control" placeholder="Фамилия">
        </div>
        <div class="col-3">

          <input type="text" type="text" mask="(000) 000-0000" prefix="8" [showMaskTyped]="true" formControlName="phone" class="form-control">
        </div>

        <div class="col-3">
          <button [disabled]="editForm.invalid" class="btn btn-primary" (click)="onEditPerson()">Сохранить</button>
        </div>
      </div>
    </form>
  </div>
</div>
